<%if(success && success.length){%>
<div
  id="flash-message"
  class="alert alert-success col-6 offset-3 mt-3"
  role="alert"
>
  <%=success%>
</div>
<%}%> <%if(deleted && deleted.length){%>
<div
  id="flash-message"
  class="alert alert-success col-6 offset-3 mt-3"
  role="alert"
>
  <%=deleted%>
</div>
<%}%> <%if(error && error.length){%>
<div
  id="flash-message"
  class="alert alert-danger col-6 offset-3 mt-3"
  role="alert"
>
  <%=error%>
</div>
<%}%>

<script>
  setTimeout(() => {
    const flash = document.getElementById("flash-message");
    if (flash) {
      flash.style.display = "none";
    }
  }, 3000); // 3 seconds
</script>
